.details-window-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 150;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.is-active{
  opacity: 1;
}

.details-window{
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 750px;
  max-height: 400px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(113, 61, 61, 0.8);
  backdrop-filter: blur(20px);
}

.details-window-close-button{
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  cursor: pointer;

  transition: all 0.3s ease;
}

.details-window-close-button:hover{
  color: whitesmoke;
  transform: rotate(90deg);
}

.details-container{
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 30px;
  align-content: center;
}

.details-cover-container{
  width: 200px;
  height: 300px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);

  cursor: url("../images/search-heart.svg") 12 12, auto;

  align-self: center;
}

.details-cover{
  width: 100%;
  height: 100%;
}

.details-info {
  padding: 10px;
  border-radius: 3px; 
  background: transparent;
}

/* .details-info {
  background-color: rgba(0, 0, 0, 0.2); 
  
  border-radius: 10px; 
  padding: 20px;

  border: 1px solid rgba(0, 0, 0, 0.3);
} */

.details-title{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  margin-bottom: 2px;
}

.details-extra{
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 14px;
  color: lightgray;
  margin-top: 0;
}

.details-description {
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: whitesmoke;
}

.trailer-link{
  text-decoration: none;
}

.trailer-link-container {
  margin-top: 15px;
  color: whitesmoke;
  font-family: system-ui, -apple-system, sans-serif;
  font-size: 18px;

  display: flex;
  align-items: center;
  gap: 10px;
}

.trailer-link-container:hover {
  cursor: pointer;
  text-decoration: underline;
}