.movies-page-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movies-page-title{
  font-family: "Petit Formal Script", cursive;
  font-family: "Petit Formal Script", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(2rem, 5vw, 50px);
  color:rgb(117, 13, 20);
}

.movie-selector-container{
  width: 100%;
  background-color: rgba(250, 171, 211, 0.3);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);

  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-selector-wrapper{
  position: relative;
  max-width: 100%;
}

.movie-selector{
  max-width: 100%;
  padding: 20px;
  border-radius: 10px;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 200px;
  gap: 20px;

  overflow-x: auto;
  overscroll-behavior-x: contain;
  scrollbar-width: none;

  transform: translateZ(0);

  scroll-behavior: smooth;
}

.movie-selector-edge-right,
.movie-selector-edge-left{
  position: absolute;
  z-index: 50;
  top: 0;
  right: 0;
  bottom: 0;
  width: 75px;
  background-image: linear-gradient(to left, rgb(227, 143, 185), rgba(255, 255, 255, 0));

  transform: translateZ(0);

  transition: 0.3s opacity;
}

.movie-selector-edge-left{
  left: 0;
  background-image: linear-gradient(to right, rgb(227, 143, 185), rgba(255, 255, 255, 0));
  opacity: 0;
}

.scroll-button-right,
.scroll-button-left{
  position: absolute;
  right: 0;
  top: 45%;
  z-index: 51;

  width: 50px;
  height: 50px;
  background: none;
  border:  none;

  transition: 0.3s;
}

.scroll-button-left{
  left: 0;
  opacity: 0;
}

.scroll-button-right:hover,
.scroll-button-left:hover{
  cursor: pointer;
}

.bi-arrow-right-circle-fill,
.bi-arrow-left-circle-fill{
  color: rgb(255, 255, 255);
}

.is-visible{
  opacity: 1;
}

.is-invisible{
  opacity: 0;
}

.is-button-active{
  opacity: 1;
}

.is-button-inactive{
  opacity: 0;
  pointer-events: none;
}

.movie-card{
  width: 200px;
  height: 350px;
  border: 4px solid rgba(68, 1, 1, 0.261);
  border-radius: 7px;
  background-color: rgb(237, 93, 168);

  display: flex;
  flex-direction: column;
  overflow: hidden;

  transition: all 0.4s;
}

.movie-card:hover{
  cursor: pointer;
  
  background-color: rgb(214, 4, 112);
  box-shadow: 6.5px 7px 5px 5px rgb(114, 1, 1);
  border-color:rgba(255, 255, 255, 1);
}

.movie-card-img{
  width: 100%;
  height: 280px;
  object-fit: cover;
  display: block;
}

.movie-card-info{
  padding: 8px 10px;
  flex-grow: 1;
}

.movie-card-info h3{
  margin: 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(58, 2, 6);
}

.movie-card-info p{
  font-size: 16px;
  font-weight: 500;
  color: rgba(58, 2, 6, 0.651);
}