.movies-page-container{
  background-color: rgba(250, 171, 211, 0.3);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);

  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-selector-wrapper{
  position: relative;
  max-width: 1150px;
  border-radius: 10px;

  overflow: hidden;
}

.movie-selector{
  max-width: 1150px;
  padding: 20px;
  border-radius: 10px;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 200px;
  gap: 20px;

  overflow-x: auto;
  overscroll-behavior-x: contain;
  scrollbar-width: none;
}

.movie-selector-edge{
  position: absolute;
  z-index: 50;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  background-image: linear-gradient(to left, rgb(227, 143, 185), rgba(255, 255, 255, 0));

  pointer-events: none;
}

.movie-card{
  width: 200px;
  height: 350px;
  border: 2px solid rgba(68, 1, 1, 0.261);
  border-radius: 7px;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.movie-card-img{
  width: 100%;
  height: 280px;
  object-fit: cover;
  display: block;
}

.movie-card-info{
  padding: 8px 10px;
  flex-grow: 1;
}

.movie-card-info h3{
  margin: 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(58, 2, 6);
}

.movie-card-info p{
  font-size: 16px;
  font-weight: 500;
  color: rgba(58, 2, 6, 0.651);
}